@use "../../styles/variables.scss" as *;

.projects {
  @include flex(center, flex-start);
  flex-direction: column;
  min-height: 100vh;
  padding: 3rem;
  padding-top: $navbar-height;
  margin: 0 10vw;
  @media only screen and (max-width: 1600px) {
    margin: 0 5vw;
  }

  & > .title {
    font-size: 3rem;
    font-weight: 300;
    color: $primary;
    margin-bottom: 4rem;
  }

  & > .projects-grid {
    @include flex(center, center);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, max(18rem, 50px));
    gap: 5rem 7rem;
  }
}
