.pro-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pro-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pro-col {
    width: 40%;
    margin: 4vw;
}

.links-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-col {
    width: 40%;
    margin: 4vw;
}

.imageP {
    border-radius: 10px;
    width: 80%;
}

.titleP {
    font-weight: 700;
    color: #2D3331;
    font-size:calc(35px + 1.5vw);
}

.tag-div {
    display: inline-block;
    margin-right: 2rem;
}

.tag {
    font-size:calc(14px + 0.9vw);
    font-weight: 700;
    color: #2D3331;
    text-align: start;
}

.text-div {
    width: 60%;
}


.text {
    font-size:calc(12px + 0.6vw);
    text-align: justify;
}

.btn {
    padding: 1em 0;
    width: 30%;
    color: #F2FFFB;
    font-weight: 700;
    border-radius: 50px;
    &.github {
        align-content: flex-end;
        background-color: #C2275B;
    }
    &.live {
        background-color: #275BC2;
    }
    &:hover {
        transition: all 0.2s ease-in-out;
        filter: brightness(80%); 
    }
}