$navbar-height: 6rem;
$floating-height: 7rem;
$nav-breakpoint: 700px;
$about-breakpoint: 1000px;

//Palette colors
$primary: #16ffd8;
$primary-600: #21897e;
$purple: #8980f5;
$purple-100: lighten($purple, 10%);
$red: #ff7979;
$red-100: lighten($red, 10%);

$background: #0d131e;
$background-100: lighten($background, 40%);
$background2: #2c3950;
$text: #f7f0f5;

@mixin full-parent-size {
  height: 100%;
  width: 100%;
}

@mixin flex($justify-content, $align-items) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}
