@use "../../styles/variables.scss" as *;

.about {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  height: 100vh;
  padding: 3rem;
  padding-top: $navbar-height;

  & > .title {
    font-size: 3rem;
    font-weight: 300;
    color: $primary;
    margin-left: 5vw;
    margin-top: 5vh;
  }

  & > .content-row {
    @include flex(center, flex-start);
    width: 100%;
    margin-top: 5vh;

    & > .image {
      height: 230px;
      width: 230px;
      border-radius: 3px;
    }

    & > .text-container {
      position: relative;
      width: 600px;
      margin-left: 4vw;
      z-index: 1;
      & > .text {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 2rem;
        margin-left: 1rem;
        margin-top: 6vh;

        & > .accent-text {
          color: $primary;
          font-weight: 600;
        }
      }

      & > .bg-text-container {
        @include flex(center, flex-start);
        user-select: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        overflow: hidden;
        width: fit-content;
        height: fit-content;
        & > .bg-text {
          color: $purple;
          opacity: 0.05;
          font-size: 5.5rem;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }

  & > .secondary-row {
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    margin-top: 7vh;
    & > .phrase {
      font-size: 1.1rem;
      text-align: center;
      font-style: italic;
    }
    & > .tech-row {
      margin-top: 5vh;
      @include flex(flex-start, flex-start);
      flex-direction: column;
      & > .favs-title {
        transform: rotate(-10deg);
        margin-bottom: 3vh;
        font-size: 1.1rem;
      }
      & > .logos-row {
        & > .logo {
          height: 3rem;
          width: auto;
          margin-right: 1.5vw;
          margin-left: 1.5vw;
        }
      }
    }
  }

  @media only screen and (max-width: $about-breakpoint) {
    @include flex(flex-start, center);
    padding: 1rem;
    padding-top: $navbar-height;
    & > .title {
      font-size: calc(30px + 6 * ((100vw - 320px) / 680));
      font-weight: 300;
      color: $primary;
      position: relative;
      margin-left: 0;
      margin-bottom: 0;
      margin-top: 0;
    }
    & > .content-row {
      @include flex(center, center);
      flex-direction: column;

      & > .text-container {
        @include flex(center, center);
        margin-left: 0;
        margin-top: 5vh;
        width: auto;
        & > .bg-text-container {
          margin: 0 auto;
          & > .bg-text {
            font-size: calc(50px + 10 * ((100vw - 320px) / 680));
          }
        }
        & > .text {
          font-size: 1rem;
          line-height: 1.6rem;
          margin-left: 0;
          margin: 10vw;
          margin-top: 0;
          text-align: justify;
        }
      }
    }
    & > .secondary-row {
      margin-top: 0;
      & > .tech-row {
        & > .logos-row {
          & > .logo {
            margin-right: 3vw;
            margin-left: 3vw;
          }
        }
      }
    }
  }
}
