.nav-div {
    height: 15vh;
}
.title-div {
    height: 15vh;
}
.projects-div {
    height: 60vh;
}
.contact-div {
    height: 10vh;
}

.full-height {
    height: 100%;
}

.image {
    height: 10vw;
    width: 20vw;
    min-width: 210px;
    min-height: 120px;
    max-width: 400px;
    max-height: 250px;
    justify-content: center;
}