.home {
    background: #F2FFFB;
}

.home-height {
    height: 100vh;
    min-width: 200px;
}

.name {
    color: #27c28e;
    font-weight: 700;
    font-size:calc(35px + 1.5vw);
}

.job {
    opacity: 0.73;
    color: #27c28e;
    font-weight: 700;
}