@import '../../assets/colors.scss';

.home {
    @if $light-theme {
        background: $white;
      } @else {
        background: $dark;
      }
    color: $primary;
    height: 100%;
}

.home-height {
    height: 85%;
    min-width: 250px;
}

.footer-height {
    height: 15%;
    min-width: 250px;
}

.name {
    font-weight: 700;
    font-size:calc(35px + 1.5vw);
}

.job {
    opacity: 0.73;
    font-weight: 700;
    font-size:calc(25px + 1vw);
}