.contactContainer {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title {
    margin-top: 10rem;
    margin-left: 3rem;
    font-weight: 900;
    font-size: calc(35px + 3vw);
}

.buttonContainer {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 0 3rem;
}

.contactButton {
    height: 40%;
    width: 20%;
    border: 1px solid #67FFD1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    display: inline-block;
    word-wrap: break-word;
    &:hover {
        color: #252525;
        background: #67FFD1;
    }
}

.contactLink {
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-weight: 200;
    font-size: calc(10px + 0.85vw);;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    &:hover {
        color: #252525;
    }
}

.temp {
    padding: 3rem;
}


@media screen and (max-width: 1000px) {
    .buttonContainer {
        flex-direction: column;
    }
    
    .contactButton {
        height: 20%;
        width: 80%;
        box-sizing: border-box;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .temp {
        height: 100%;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}