@import '../../assets/colors.scss';

.navBar {
    height: 13vh;
    min-width: 250px;
    background: #F2FFFB;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* position: sticky; */
    top: 0;
    z-index: 10;
}

.nav-link {
    color:  $primary;
    font-size:calc(13px + 0.8vw);
    font-weight: 200;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.3);
        font-weight: 700;
        opacity: 0.73;
        color:  $primary;
        //color: $accent2;
    }
}

p {
    text-align: center;
}