@import '../../assets/colors.scss';

.navBar {
    height: 15vh;
    min-width: 250px;
    background: #F2FFFB;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* position: sticky; */
    top: 0;
    z-index: 10;
}

.nav-link {
    color: $dark;
    font-size:calc(16px + 0.8vw);
    font-weight: 300;
    &:hover {
        transition: all 0.2s ease-in-out;
        color: $accent1;
    }
}

p {
    text-align: center;
}