.contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: background .5s, color .5s;
}

.contactContainer {
    display: flex;
    width: 20%;
    min-width: 280px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    // padding-bottom: .5rem 0;
}

@media screen and (max-width: 600px) {
    .contact {
        display: none;
    }
}

.contactRow {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contactCol {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.iconCol {
    display: flex;
    justify-content: center;
    width: 25%;
}

.contactLink {
    margin: 0 auto;
}

.contactText {
    box-sizing: border-box;
    margin-top: 0.5em;
    font-size: 1.2rem;
    font-weight: 600;
}

.homeIcon {
    width: 100%;
    font-size: calc(1.5rem + 10px);
    transition: all .2s ease-in-out;
    &:hover{
        transform: scale(1.5);
    }
}