.contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.contactContainer {
    display: flex;
    width: 20%;
    min-width: 280px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    // padding-bottom: .5rem 0;
}

@media screen and (max-width: 600px) {
    .contact {
        display: none;
    }
}

.contactRow {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contactCol {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.iconCol {
    display: flex;
    justify-content: center;
    width: 25%;
}

.contactLink {
    margin: 0 auto;
    max-height: 100%;
}

.contactText {
    box-sizing: border-box;
    // padding-top: 0.1em;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}

@media screen and (max-height: 500px) {
    .contactContainer {
        flex-direction: row-reverse;
        display: flex;
        width: 50%;
    }
    .contactTextRow {
        display: none;
    }
}

.display {
    display: flex;
}

.homeIcon {
    width: 100%;
    max-height: 100%;
    font-size: calc(1.5rem + 10px);
    transition: all .2s ease-in-out;
    &:hover{
        transform: scale(1.5);
    }
}