@use "../../styles/variables.scss" as *;

.about {
  @include flex(flex-start, center);
  flex-direction: column;
  min-height: 100vh;
  padding: $navbar-height 3rem 3rem 3rem;

  .content-row {
    @include flex(center, center);
    width: 100%;
    min-height: 10rem;

    .image {
      height: 230px;
      width: 230px;
      border-radius: 3px;
    }

    .text-container {
      max-width: 550px;
      position: relative;
      margin-left: 4vw;
      z-index: 1;

      .text {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.8rem;
        letter-spacing: 0.05rem;
        margin-left: 0.5rem;
        text-align: justify;

        .accent-text {
          color: $primary;
          font-weight: 600;
          transition: all 0.2s ease-in-out;
        }

        &:before {
          @include flex(center, center);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "INNOVATIVE SOFTWARE";
          color: $purple;
          opacity: 0.1;
          font-size: 5.5rem;
          font-weight: 700;
          line-height: 6rem;
          text-transform: uppercase;
        }
      }
    }
  }

  .secondary-row {
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    margin-top: 7vh;

    .phrase {
      font-family: "Raleway", sans-serif;
      font-size: 1.3rem;
      font-style: italic;
      text-align: center;
    }

    .tech-row {
      @include flex(flex-start, flex-start);
      flex-direction: column;
      margin-top: 5vh;

      .favs-title {
        font-size: 1.1rem;
        margin-bottom: 3vh;
        transform: rotate(-10deg);
      }

      .instruction-text {
        font-size: 1rem;
        margin: 0 auto;
        margin-top: 4vh;
        opacity: 0.8;
      }

      .logos-row {
        @include flex(center, center);
      }

      .logo-item {
        @include flex(center, center);
        width: fit-content;
        height: 3rem;
        display: block;
        margin: 0 1.5vw;
        z-index: 10;

        &:hover {
          cursor: pointer;
        }

        &:active {
          cursor: grabbing;
        }
      }

      .logo {
        height: 3rem;
        width: auto;
      }
    }
  }

  @media only screen and (max-width: $about-breakpoint) {
    @include flex(flex-start, center);
    padding: $navbar-height 1rem 1rem 1rem;

    .content-row {
      @include flex(center, center);
      flex-direction: column;
      margin-top: 5vh;

      .text-container {
        @include flex(center, center);
        width: auto;
        max-width: 400px;
        margin: 5vh 5vw;

        .text {
          font-size: 1rem;
          line-height: 1.6rem;
          margin: 5vh 0;

          &:before {
            @include flex(center, center);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "INNOVATIVE SOFTWARE";
            color: $purple;
            opacity: 0.1;
            font-size: calc(55px + 20 * ((100vw - 320px) / 680));
            font-weight: 700;
            line-height: 6rem;
            text-transform: uppercase;
          }
        }
      }
    }

    .secondary-row {
      margin-top: 3vh;

      .tech-row {
        margin-top: 7vh;

        .favs-title {
          margin-bottom: 4vh;
        }

        .logo-item {
          margin: 0;
          margin: 0 2vh;
        }
      }
    }
  }
}
