@import '../../assets/colors.scss';

$max-size: 800px;

.projects-container {
    display: flex;
    margin: 0em 1em;
    align-items: center;
}

.projects-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: $max-size) {
    .projects-row {
        flex-direction: column;
        align-items: center;
    }
}

.project-col {
    width: 35%;
    margin: 4vw;
}

@media screen and (max-width: $max-size) {
    .projects-container {
        margin: 0em;
    }
    .project-col {
        width: 80%;
        margin: 2em 0;
    }
}

.img-container {
    position: relative;
    width: 100%;
    transition: all .3s ease-in-out;
    &:hover {
        transform: scale(1.1);
        .image {
            opacity: 1;
        }
        .overlay {
            opacity: 1;
        }
    }
}

.image {
    display: block;
    width: 100%;
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
    background: $primary;
}
  
.overlay-text {
    font-size:calc(16px + 1.8vw);
    color: #fff;
    position: absolute;
    font-weight: 700;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.title {
    color: $primary;
    font-weight: 700;
    font-size:calc(35px + 1.5vw);
}