@import '../../assets/colors.scss';

$max-size: 800px;

.title-div {
    height: 40%;
}

.projects {
    height: 80%;
}
.contact-div {
    height: 10vh;
}

.full-height {
    height: 100%;
}

.projects-container {
    display: flex;
    margin: 0em 3em;
    align-items: center;
}

.projects-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: $max-size) {
    .projects-row {
        flex-direction: column;
        align-items: center;
    }
}

.project-col {
    width: 30%;
    margin: 5em;
}

@media screen and (max-width: $max-size) {
    .project-col {
        width: 80%;
        margin: 2em 0;
    }
}

.c-preview {
    background: #000;
    background: -moz-linear-gradient(-45deg, #000000 0%, #000000 25%, #1e539e 50%, #ff3083 75%, #7800a8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #000000 0%,#000000 25%,#1e539e 50%,#ff3083 75%,#7800a8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #000000 0%,#000000 25%,#1e539e 50%,#ff3083 75%,#7800a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 400% 400%;
    height: 150px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: .5s all;
    
    &__img {
      position: absolute;
      left: 0;
      top: 0;
    //   background: #000 url('../../assets/Bodega.jpg') no-repeat center center;
    //     background-size: cover;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: .5;
      mix-blend-mode: screen;
    }
    
    &__title {
      position: relative;
      z-index: 10;
      text-transform: uppercase;
      letter-spacing: .05em;
    }
    
    &:hover {
      background-position: 100% 100%;
      text-decoration: none;
      color: $white;
      &__title {
        text-shadow: 0 0 20px rgba(0,0,0,1);
      }
    }
}

.image {
    max-width: 100%;
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.2);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover {
        box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
    }
}

.title {
    color: $primary;
    font-weight: 700;
    font-size:calc(35px + 1.5vw);
}