//Light Theme
$bg_light:         #F5FFFD; //Background color
$text_light:       #2D3331; //Text color

//Dark Theme
$bg_dark:          #0f0f0f; //Background color
$text_dark:        #e7e7e7; //Text color

//Palette colors

$white:       #F5FFFD;
$gray_100:    #2D2D2D;
$gray_200:    #a8a8a8;
$gray_300:    #161616;
$gray_400:    #161616;

$primary_100: #00ffcc;
$primary_200: darken($primary_100, 40%);
$primary_300: lighten($primary_100, 20%);

$complementary_100: #d5fffd;
$complementary_200: #707070;

$accent_100: #f14c91; //Github Repo Color Button
$accent_200: #fab34c; //Live Site Color Button