//Light Theme
$bg_light:         #F5FFFD; //Background color
$text_light:       #2D3331; //Text color

//Dark Theme
$bg_dark:          #0f0f0f; //Background color
$text_dark:        #e7e7e7; //Text color

//Palette colors

$white:       #F7FFFF;
$gray_100:    #2D2D2D;
$gray_200:    #a8a8a8;
$gray_300:    #161616;

$primary_100: #00fff8;
$primary_200: #005956;
$primary_300: #7dfffb;

$complementary_100: #FFD5DE;
$complementary_200: #91354a;

$accent_100: #f14c91; //Github Repo Color Button
$accent_200: #fab34c; //Live Site Color Button