$white:		#FCFAF9; //Background color Light Theme
$light-gray:#dedcdc; //Nice gray
$dark-gray: #a3a3a3; //Darker gray 

$dark:      #141414; //Background color Dark Theme
$black:		#191919; //Darkest dark

$primary:   #27c28e; //Primary color of the theme
$secondary: #43a892; //Secondary color of the theme
$tertiary:  #135446; //is this even necessary?

$complementary1: #FA6466;

$accent1:   #FF99C9; //Hover of icons
$accent2:   #FA9F42; //Hover of icons