@import './assets/colors.scss';

html {
    body {
        transition: background .5s ease-in-out;
        background: $white;
        color: $dark-green;
    }
  }
  html[data-color-mode='dark'] {
    body {
        transition: background .5s ease-in-out;
        background: $dark;
        color: $white2;
    }
}

.navbar-content {
    height: 13vh;
    min-width: 250px;
}

.main-content {
    height: 87vh;
    min-width: 250px;
}

// @media (prefers-color-scheme: dark) {
//     .theme {
//         background: $dark;
//         color: $white;
//     }
// }

// @media (prefers-color-scheme: light) {
//
// }