$white:		#F2FFFB; //Background color Light Theme
$light-gray:#dedcdc; //Nice gray
$dark-gray: #a3a3a3; //Darker gray 

$dark:      #141414; //Background color Dark Theme
$black:		#191919; //Darkest dark

$primary:   #27c28e; //Primary color of the theme
$secondary: #43a892; //Secondary color of the theme
$tertiary:  #135446; //is this even necessary?

$complementary1: #FA6466;

$accent1:   #FF99C9; //Hover of icons
$accent2:   #FA9F42; //Hover of icons

html {
    $light-theme: false;
    background: var(--bgColor);
    color: var(--textColor);
    --bgColor: #F2FFFB;
    --textColor: #000000;
    --iconColor1: #333333;
    --iconColor2: #333333;
  }
  
  html[data-theme='dark'] {
    $light-theme: true;
    background: var(--bgColor) !important;
    color: var(--textColor);
    --bgColor: #141414;
    --textColor: #FCFAF9;
    --grayColor: #c2c2c2;
    --iconColor1: #c2c2c2;
    --iconColor2: #c2c2c2;
    p {
        color: var(--grayColor);
    }
    .contact-text {
        color: $primary;
    }
    hr {
        background-color: #262626;
        height: 0.5px;
    }
}

.content {
    height: 87vh;
    min-width: 250px;
}

.theme {
    background: var(--bgColor) !important;
    color: var(--textColor);
}

.container-fluid {
    height: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.auto-height {
    height: 100%;
}

.auto-width {
    width: 100%;
}

.centered-text {
    text-align: center;
}

.justified-text {
    text-align: justify;
    text-justify: inter-word;
}

.logo {
    height: 12vw;
    width: 12vw;
    min-width: 120px;
    min-height: 120px;
    // max-width: 100px;
    // max-height: 100px;
    border-radius: 100px;
}

.project-text {
    width: 80%;
}

h1 {
    font-size:calc(35px + 1.5vw);
    font-weight: 200;
}

h2 {
    font-size:calc(30px + 1vw);
    font-weight: 200;
}

h3 {
    font-size:calc(18px + 0.5vw);
    font-weight: 300;
}

h4 {
    font-size:calc(25px + 0.2vw);
    font-weight: 400;
}

p {
    font-size:calc(14px + 0.4vw);
    font-weight: 300;
}

.codeIcon {
    color: var(--iconColor1);
}
.codeIcon:hover {
    color: $accent1;
}

.projectIcon {
    color: var(--iconColor2);
}
.projectIcon:hover {
    color: $accent2;
}

.iconCool:hover {
    filter: brightness(0.8);
}

.footer {
    width: 100%;
    height: 80px;
}

.full-height {
    height: 100%!important;
}