body {
    background: #FCFAF9;
}

.jumbotron {
    background: #FCFAF9;
}

.home {
    height: 80vh;
    width: 100vw;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 0;
    color: #000000;
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 100%;
    color: #43a892;
}

.pokeball {
    width: 150px;
    height: 150px;
}

.interlabLogo {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.proyectCard {
    color: #000000;
}

.homeIcon {
    color: #48E5C2;
}
.homeIcon:hover {
    color: #43a892;
}

.codeIcon {
    color: #333333;
}
.codeIcon:hover {
    color: #FF99C9;
}

.projectIcon {
    color: #333333;
}
.projectIcon:hover {
    color: #FA9F42;
}

.iconCool:hover {
    filter: brightness(0.8);
}

.footer {
    background: #FCFAF9;
    width: 100%;
    height: 100px;
}

.blank {
    height: 100px;
}