$white:		#FCFAF9; //Background color Light Theme
$light-gray:#dedcdc; //Nice gray
$dark-gray: #a3a3a3; //Darker gray 

$dark:      #141414; //Background color Dark Theme
$black:		#191919; //Darkest dark

$primary:   #48E5C2; //Primary color of the theme
$secondary: #43a892; //Secondary color of the theme
$tertiary:  #135446; //is this even necessary?

$accent1:   #FF99C9; //Hover of icons
$accent2:   #FA9F42; //Hover of icons

$initial_pos: -0.14rem; //Position of toggle dark mode button

html {
    background: var(--bgColor);
    color: var(--textColor);
    --bgColor: $white;
    --textColor: #000000;
    --iconColor1: #333333;
    --iconColor2: #333333;
  }
  
  html[data-theme='dark'] {
    background: var(--bgColor) !important;
    color: var(--textColor);
    --bgColor: #141414;
    --textColor: #FCFAF9;
    --grayColor: #c2c2c2;
    --iconColor1: #c2c2c2;
    --iconColor2: #c2c2c2;
    p {
        color: var(--grayColor);
    }

    hr {
        background-color: #262626;
        height: 0.5px;
    }
}

.theme {
    background: var(--bgColor) !important;
    color: var(--textColor);
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.home {
    height: 100vh;
}

.toggle-height {
    height: 8vh;
}

.home-height {
    height: 80vh;
}

.myprojects-height {
    height: 12vh;
}

.centered-text {
    text-align: center;
}

.justified-text {
    text-align: justify;
    text-justify: inter-word;
}

.logo {
    height: 80%;
    width: 80%;
    max-width: 200px;
    max-height: 200px;
}

.project-text {
    width: 80%;
}

h1 {
    font-size:calc(30px + 1.5vw);
}

h2 {
    font-size:calc(25px + 1vw);
}

h3 {
    font-size: 150%;
}

h4 {
    font-size: 100%;
    color: $primary;
}

.pokeball {
    width: 150px;
    height: 150px;
}

.roundedLogo {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.homeIcon {
    color: $primary;
}
.homeIcon:hover {
    color: $secondary;
}

.codeIcon {
    color: var(--iconColor1);
}
.codeIcon:hover {
    color: $accent1;
}

.projectIcon {
    color: var(--iconColor2);
}
.projectIcon:hover {
    color: $accent2;
}

.iconCool:hover {
    filter: brightness(0.8);
}

.footer {
    width: 100%;
    height: 80px;
}

.blank {
    height: 100px;
}

//TOGGLE BUTTON STYLES:

//CIRCLE
$button-on:  $primary;
$button-off: $dark;

//BACKGROUND
$off-state: 	$dark-gray;
$on-state: 		$tertiary;

.switch{
    // margin-top: 1rem; //me
    margin-left: 1.8rem; //me
	position: relative;
	width: 1.3rem;
	height: 1.5rem;
	//border-radius: 10%;
	transition: background-color 100ms ease-out;
	z-index: 1;
	&:before, &:after {
		content: "";
        position: absolute;
		top: 0;
		background-color: inherit;
		border-radius: 50%;
		width: 1.5rem;
		height: 1.5rem;
        z-index: 2;
    }
	&:before{
        left: -0.69rem;
    }
	&:after{
		right: -0.69rem;
    }
}
.toggle-button {
    transform: translateX($initial_pos);
    position: absolute;
	width: 1.6rem;
	height: 1.6rem;
	background-color: $button-off;
	border-radius: 50%;
	transition: transform 160ms ease-in-out;
	z-index: 3;
	border: 0.05rem solid $button-off;
	top: -0.05rem;
}

.toggle-button-on {
    transform: translateX($initial_pos);
    position: absolute;
	width: 1.6rem;
	height: 1.6rem;
	background-color: $button-on;
	border-radius: 50%;
	transition: transform 160ms ease-in-out;
	z-index: 3;
    border: 0.05rem solid $button-on;
	top: -0.05rem;
}

.switch_is-off{
    background-color: $off-state;
}
.switch_is-on{
	background-color: $on-state;
}
.toggle-button_position-left{
	transform: translateX(-0.8rem + $initial_pos);
}
.toggle-button_position-right{
    transform: translateX(+ 0.8rem + $initial_pos)
}
