@import './assets/colors.scss';

// Loading Screen
.loadingScreen {
  position: absolute;
  z-index: -999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-out .5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
}
.lds-ripple div {
  position: absolute;
  border: 10px solid #00ffcc;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 65px;
    left: 65px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 130px;
    height: 130px;
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  width: 5px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  transition: background .5s, color .5s;
  transition-timing-function: ease-in-out;
}

// Light Theme
html {
  font-size: 1rem;
  background: $bg_light!important;
  color: $text_light;
  transition: background .5s, color .5s;
  transition-timing-function: ease-in-out;
  ::-webkit-scrollbar-thumb {
    background: $gray_300;
  }

  ::selection { 
    background: $complementary_100; 
  }
}
.light {
  .loadingScreen {
    background: $bg_light;
  }
  
  .home {
    .name {
      color: $gray_400;
      -webkit-text-stroke-width: .05rem;
      -webkit-text-stroke-color: $gray_400;
      transition: all .1s ease-in-out;
    }
    .job {
      color: $gray_100;
    }
  }

  .contact {
    //background: $bg_light;
    .contactText {
      color: $gray_100;
    }
    .homeIcon {
      color: $gray_100;
    }
  }

  .navBar {
    .navLink {
      color:  $gray_100;
      hr {
        border-top: 0px;
      }
    }
    .activeLink {
      hr {
        border-top: 1px solid $gray_400;
      }
    }
  }
  
  .projects  {
    .overlay {
      background: $gray_300;
    }
    .overlay-text {
      color: $white;
    }
    .title {
      color: $gray_100;
    }
  }

  .project .btn {
    color: $gray_100;
    &.github {
      background-color: $primary_300;
    }
    &.live {
      background-color: $primary_300;
    }
  }

  .footer-container {
    .navMenu {
      background: $gray_400;
    }
    .navMenu .navMenuLink {
      color: $white;
    }
  }
}

// Dark Theme
html[data-color-mode='dark'] {
  font-size: 18px;
  background: $bg_dark!important;
  color: $text_dark;
  transition: background .5s, color .5s;
  ::-webkit-scrollbar-thumb {
    background: $primary_100;
  }

  ::selection { 
    background: $complementary_200; 
  }
}
.dark {
  .loadingScreen {
    background: $bg_dark;
  }

  .home {
    .name {
      color: $white;
    }
    .job-col {
      background: $primary_100;
    }
    .job {
      color: $black_100;
    }
  }

  .contact {
    //background: $bg_dark;
    .contactText {
      color: $primary_100; opacity: .9;
    }
    .homeIcon {
      color: $primary_100; opacity: .9;
      &:hover {
        opacity: 1;
      }
    }
  }

  .navBar {
    .navLink {
      color:  $white;
      border: 1px solid $bg_dark;
      &:hover {
        background: $primary_100;
        border: 1px solid $primary_100;
        color: $black_100;
      }
    }
    .activeLink {
      border: 1px solid $primary_100;
    }
  }

  .projects  {
    .overlay {
      background: $primary_100;
    }
    .overlay-text {
      color: $gray_300;
    }
    .title {
      color: $primary_100;
    }
  }

  .project .btn {
    color: $gray_100;
    &.github {
      background-color: $accent_100;
    }
    &.live {
      background-color: $accent_200;
    }
  }

  .footer-container {
    .navMenu {
      background: $bg_dark;
    }
    .navMenuLink {
      color: $white;
      opacity: 0.7;
    }
    .activeLink {
      font-weight: 500;
      opacity: 1;
      color: $primary_100;
    }
  }
}
body {
  min-height: 100%;
  height: 100vh;
}

#root {
  height: 100%;
}

.theme {
  height: 100%;
  z-index: 999;
  opacity: 0;
  animation: fade-in 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.navbar-content {
  // min-height: 13%;
  height: 13%;
  min-width: 250px;
  // min-height: 70px;
}

.main-content {
  display: flex;
  justify-content: center;
  min-height: 87%;
  // height: 75%;
  min-width: 250px;
}

@media screen and (max-width: 600px) {
  .navbar-content {
    height: 5%;
  }
  .main-content {
    min-height: 83%;
  }
  .footer-content {
    height: 10vh;
    display: flex;
    justify-content: center;
    min-width: 250px;
  }
}

a {
  text-decoration: none;
}

* {
  margin: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}