@import './assets/colors.scss';

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  width: 5px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

// Light Theme
html {

  ::-webkit-scrollbar-thumb {
    background: $gray_300;
  }

  ::selection { 
    background: $complementary_100; 
  }

  body {
    transition: background .5s, color .5s;
    background: $bg_light;
    color: $text_light;
  }

  .home {
    .name {
      color: $gray_400;
      -webkit-text-stroke-width: .05rem;
      -webkit-text-stroke-color: $gray_400;
      transition: all .1s ease-in-out;
    }
    .job {
      color: $gray_100;
    }
  }

  .contact {
    .contactText {
      color: $gray_100;
    }
    .homeIcon {
      color: $gray_100;
    }
  }

  .navBar .navLink {
    color:  $gray_100;
    &:hover {
      opacity: 0.73;
    }
  }

  .projects  {
    .overlay {
      background: $gray_300;
    }
    .overlay-text {
      color: $white;
    }
    .title {
      color: $gray_100;
    }
  }

  .project .btn {
    color: $gray_100;
    &.github {
      background-color: $primary_300;
    }
    &.live {
      background-color: $primary_300;
    }
  }
}

// Dark Theme
html[data-color-mode='dark'] {

  ::-webkit-scrollbar-thumb {
    background: $primary_100;
  }

  ::selection { 
    background: $complementary_200; 
  }

  body {
    transition: background .5s, color .5s;
    background: $bg_dark;
    color: $text_dark;
  }

  .home {
    .name {
      color: $primary_100; opacity: 1;
      -webkit-text-stroke-width: .05rem;
      -webkit-text-stroke-color: $primary_100;
    }
    .job {
      color: $primary_100; opacity: .6;
    }
  }

  .contact {
    .contactText {
      color: $primary_100; opacity: .9;
    }
    .homeIcon {
      color: $primary_100; opacity: .9;
      &:hover {
        opacity: 1;
      }
    }
  }

  .navBar .navLink {
    color:  $white;
    &:hover {
      color:  $primary_100;
    }
  }

  .projects  {
    .overlay {
      background: $primary_100;
    }
    .overlay-text {
      color: $gray_300;
    }
    .title {
      color: $primary_100;
    }
  }

  .project .btn {
    color: $gray_100;
    &.github {
      background-color: $accent_100;
    }
    &.live {
      background-color: $accent_200;
    }
  }
}

.navbar-content {
  height: 13vh;
  min-width: 250px;
}

.main-content {
  height: 87vh;
  min-width: 250px;
}