@import './assets/colors.scss';

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  width: 5px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  transition: background .5s, color .5s;
}


// Light Theme
html {
  background: $bg_light;
  color: $text_light;
  transition: background .5s, color .5s;
  
  ::-webkit-scrollbar-thumb {
    background: $gray_300;
  }

  ::selection { 
    background: $complementary_100; 
  }
}
.light {
  .home {
    .name {
      color: $gray_400;
      -webkit-text-stroke-width: .05rem;
      -webkit-text-stroke-color: $gray_400;
      transition: all .1s ease-in-out;
    }
    .job {
      color: $gray_100;
    }
  }

  .contact {
    background: $bg_light;
    .contactText {
      color: $gray_100;
    }
    .homeIcon {
      color: $gray_100;
    }
  }

  .navBar {
    .navLink {
      color:  $gray_100;
      hr {
        border-top: 0px;
      }
    }
    .activeLink {
      hr {
        border-top: 1px solid $gray_400;
      }
    }
  }
  

  .projects  {
    .overlay {
      background: $gray_300;
    }
    .overlay-text {
      color: $white;
    }
    .title {
      color: $gray_100;
    }
  }

  .project .btn {
    color: $gray_100;
    &.github {
      background-color: $primary_300;
    }
    &.live {
      background-color: $primary_300;
    }
  }

  .footer-container {
    .navMenu {
      background: $gray_400;
    }
    .navMenu .navMenuLink {
      color: $white;
    }
  }
}

// Dark Theme
html[data-color-mode='dark'] {
  background: $bg_dark;
  color: $text_dark;
  transition: background .5s, color .5s;

  ::-webkit-scrollbar-thumb {
    background: $primary_100;
  }

  ::selection { 
    background: $complementary_200; 
  }
}
.dark {
  .home {
    .name {
      color: $primary_100; opacity: 1;
      -webkit-text-stroke-width: .05rem;
      -webkit-text-stroke-color: $primary_100;
    }
    .job {
      color: $primary_100; opacity: .6;
    }
  }

  .contact {
    background: $bg_dark;
    .contactText {
      color: $primary_100; opacity: .9;
    }
    .homeIcon {
      color: $primary_100; opacity: .9;
      &:hover {
        opacity: 1;
      }
    }
  }

  .navBar {
    .navLink {
      color:  $white;
      &:hover {
        color: $primary_100;
      }
      hr {
        border-top: 0px;
      }
    }
    .activeLink {
      color:  $primary_100;
      hr {
        border-top: 1px solid $primary_100;
      }
    }
  }

  .projects  {
    .overlay {
      background: $primary_100;
    }
    .overlay-text {
      color: $gray_300;
    }
    .title {
      color: $primary_100;
    }
  }

  .project .btn {
    color: $gray_100;
    &.github {
      background-color: $accent_100;
    }
    &.live {
      background-color: $accent_200;
    }
  }

  .footer-container {
    .navMenu {
      background: $gray_400;
    }
    .navMenuLink {
      color: $primary_100;
      opacity: 0.7;
    }
    .activeLink {
      font-weight: 500;
      opacity: 1;
    }
  }
}
body {
  min-height: 100%;
  height: 100vh;
}

#root {
  height: 100%;
}

.theme {
  height: 100%;
}

.navbar-content {
  // min-height: 13%;
  height: 13%;
  min-width: 250px;
  // min-height: 70px;
}

.main-content {
  display: flex;
  justify-content: center;
  min-height: 75%;
  // height: 75%;
  min-width: 250px;
}

.footer-content {
  height: 12vh;
  // min-height: 12vh;
  display: flex;
  justify-content: center;
  // height: 200px;
  min-width: 250px;
}

@media screen and (max-width: 600px) {
  .navbar-content {
    height: 5%;
  }
  .main-content {
    min-height: 83%;
  }
}

a {
  text-decoration: none;
}

* {
  margin: 0;
}